html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;  
}

html:root{
  /*  
  Colocar depois como font-size: 1.4rem
  Fontes: 1px = 0.75pt / 16px = 12pt  
  */
  font-size: 62.5%;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  height: 100%;
}

.container .content{
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  
  background-color: #C4C4C4;
}

/* Nav */

.container .content .nav{
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  height: 7%;
  
  background: linear-gradient(90deg, rgba(156, 36, 36, 0.92) 20.83%, #E4050E 83.85%);
}

.container .content .nav .left{
  width: 50vw;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-around ;
}

.container .content .nav .right{
  width: 70vw;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container .content .nav select{
  width: 32px;
  
  background: transparent;
  border: 0;
  color: white;
  
  font-size: large;
}

.container .content .nav select option{
  color: black;
  text-align: center;
}

.container .content .nav .input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 80%;
  
  border-radius: 5px;
  
  background: #CBCACA;
}

.container .content .nav .input-container input{
  width: 100%;
}

.container .content .nav .nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 10%;
  height: 100%;
  
  margin-right: 5%;
}

.container .content .nav .nav-logo img{
  width: 60px;
}

.container .content .nav .floating-button button{
  margin-left: 20%;
  
  cursor: pointer;
  
  background-color: transparent;
  border: 0;
} 

.container .content .content-box{
  width: 100%;
  
  flex: 1;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Itens de busca e adicona */

.container .content .content-box .box-head{
  width: 70%;
  
  display: flex;
  justify-content: space-around;
  
  margin-bottom: 20px;
}

.container .content .content-box .box-head a{
  width: 16%;
  
  font-size: 4.0rem;
  text-decoration: none;
  text-align: center;
  border-radius: 24px;
  
  box-shadow: inset 0px 4px 25px rgba(62, 37, 37, 0.25);
  
  color: white;
  background-color: #E4050E;
  
  transition: 0.4s;
}

.container .content .content-box .box-head a:hover{
  filter: brightness(90%);
}

.container .content .content-box .box-head select{
  width: 20%;
  
  font-size: 1.4rem;
  font-weight: bold;
  
  padding-left: 10px;
  
  text-align: center;
  background-color: #E4050E;
  border-radius: 16px;
  border: 0;
  color: white;
}

.container .content .content-box .box-head select option{
  width: 20%;
  font-size: 1.4rem;
  font-weight: 500;
}

.container .content .content-box .box-head input{
  width: 30%;
  
  background: rgb(219, 215, 215);
  
  border-radius: 24px;
}

/* Tabela */

.container .content .content-box #table{
  width: 70%;
  height: 80%;
  
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  
  display: flex; 
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.12em;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.container .content .content-box #table tr{
  width: 100%;
  height: 100%;
  
  display: flex;
}

.container .content .content-box #table thead{
  width: 100%;
  height: 10%;
  
  display: flex;
  align-items: center;  
}

.container .content .content-box #table thead th{
  color: #E5E5E5;
  
  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C20114;
  text-transform: uppercase;
}

.container .content .content-box #table tbody{
  flex: 1;

  overflow-y: auto;
  color: #180B0B;
}

.container .content .content-box #table tbody td{
  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content .content-box #table tbody tr:nth-child(odd){
  cursor: pointer;
  background: #DFB3B3;
}

.container .content .content-box #table tbody tr:nth-child(even){
  cursor: pointer;
  background: #ECA5A5;
}

.container .content .content-box #table tbody tr{
  height: 15%;
  transition: 0.4s;
}

.container .content .content-box #table tbody tr:hover{
  filter: brightness(95%);
}

/* Menu */
.box-toggle{
  position: absolute;
  top:0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  background: rgba(0, 0, 0, 0.51);
  
  z-index: 4;
}

.box-toggle .toggle-content{
  display: flex;
  flex-direction: column;
  
  user-select: none;

  width: 25%;
  height: 100%;

  background: #5A141A;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  
  z-index: 3;
  
  animation: toggle 0.4s forwards;
}

.box-toggle .toggle-content #close{
  cursor: pointer;
}

.box-toggle .toggle-content .anchor{
  display: flex;
  align-items: center;
  
  text-align: center;
  
  width: 100%;
  height: 8%;
  
  margin-top: 5%;
  
  background: #5A141A;
  transition: 0.4s;
  
}

.box-toggle .toggle-content .anchor:last-child{
  /* background-color: #E4050E;
  justify-content: end; */
  margin-top: 70%;
}

.box-toggle .toggle-content .anchor:hover{
  filter: brightness(80%);
}

.box-toggle .toggle-content img{
  max-width: 100%;
  width: 10%;
  height: auto;
  
  padding-left: 5%;
}

.box-toggle .toggle-content .anchor a{
  font-style: normal;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-align: start;
  text-decoration: none;
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  padding-left: 20%;
  
  width: 100%;
  
  color: #C2C2C2;
}

.toggle-disable{
  display: none;
}

@keyframes toggle{
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translate(0%);
  }
}