@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgba(156, 36, 36, 0.92) 20.83%, #E4050E 83.85%);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

.aviso{
    padding: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 2px;
    width: 55%;
    background: linear-gradient(90deg, rgba(99, 253, 60, 0.7) 33.92%, rgba(51, 255, 0, 0.7) 69.87%);
    box-shadow: 0px 4px 20px rgba(164, 156, 156, 0.23);
    border-radius: 50px 0px;
}

.content {
    background-color: #E0DFDF;
    border-radius: 10px;
    align-items: center;
    width: 55%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    
}

.titulo{
    font-size: 35px;
    padding: 15px;
    text-transform: uppercase;
    margin-top: -40px;
    margin-bottom: 20px;
}

.aviso2{
   font-weight: bolder;
   display: none;
   font-size: 12px;
   color: rgb(5, 53, 5);
}

.label-input{
    border-radius: 9px;
    width: 100%;
}

input{
    border-radius: 10px;
}

.btn {
    display: flex;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    padding: 10px 50px;
    width: 200px;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    border: none;
    background: linear-gradient(90deg, #E8C547 5.55%, #C20114 77.98%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.62);
}



.form {
    display: flex;
    width: 80%;
    height: 35%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form form{
    width: 65%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #CBCACA;
    box-shadow: inset -10px 0px 10px #999;
}

.label-input {
    background-color: #CBCACA;
    display: flex;
    align-items: center;
    margin: 10px;
    box-shadow: inset 0 0 1em #999;
}

input{
    font-size: 16px;
    padding: 5px;
}

.fa-at{
    padding: 10px;
    color: #6C6B6B;
}

a {
    text-decoration: none;
    color:  #020202;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
   
}

a:hover{
    text-decoration: underline;
}

.voltar{
    font-size: 20px;
    color: #929191;
    display: flex;
    margin-top: 80px;
}

@media only screen and (max-width: 1200px) {
.aviso{
    display: none;
}

.aviso2{
    display: flex;
}

    .content{
        width: 70%;
        height: 80%;
        position: absolute;
        display: flex;
        background-color: #E0DFDF;
        border-radius: 10px;
        width: 80%;
        height: 80%;
        position: relative;
     
}

.titulo{
    font-size: 30px;
}

.label-input{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.62);
}
}

@media only screen and (max-height: 500px) {

    .aviso{
        display: none;
    }

    .aviso2{
        display: flex;
    }
    .content{
        width: 70%;
        height: 80%;
        position: absolute;
        display: flex;
        background-color: #E0DFDF;
        border-radius: 10px;
        width: 80%;
        height: 90%;
        position: relative;
     
}

.titulo{
    font-size: 30px;
}

.label-input{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.62);
}
}

@media only screen and (max-height: 400px) {

    .aviso{
        display: none;
    }
    .aviso2{
        display: flex;
    }
    .content{
        width: 70%;
        height: 80%;
        position: absolute;
        display: flex;
        background-color: #E0DFDF;
        border-radius: 10px;
        width: 80%;
        height: 90%;
        position: relative;
     
}

.titulo{
    margin-top: 10px;
    font-size: 20px;
}

.voltar{
    margin-top: 20px;
}

.label-input{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.62);
}
}