html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;  
}

html{
  /*  
  Colocar depois como font-size: 1.4rem
  Fontes: 1px = 0.75pt / 16px = 12pt  
  */
  font-size: 62.5%;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  height: 100%;
}

.container .content{
  width: 100%;
  height: 100%;
  
  background-color: #C4C4C4;
}

.container .content .nav{
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  height: 7%;
  
  position: absolute;
  top: 0;
  
  background: linear-gradient(90deg, rgba(156, 36, 36, 0.92) 20.83%, #E4050E 83.85%);
}

.container .content .nav .left{
  width: 50vw;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-around ;
}

.container .content .nav .right{
  width: 70vw;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .content .nav select{
  width: 32px;
  
  background: transparent;
  border: 0;
  color: white;
  
  font-size: large;
}

.container .content .nav .input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 80%;
  
  border-radius: 5px;
  
  background: #CBCACA;
}

.container .content .nav .input-container input{
  width: 100%;
}


.container .content .nav .nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 10%;
  height: 100%;
  
  margin-right: 5%;
}

.container .content .nav .nav-logo img{
  width: 60px;
  max-width: 100%;
  height: auto;
}

/* .container .content .nav .nav-logo span{
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.7rem;
} */

.container .content .nav .floating-button button{
  margin-left: 20%;
  
  cursor: pointer;
  
  background-color: transparent;
  border: 0;
}

.container .content .content-box{
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  
  color: #D6D6D6;
  
  text-shadow: 0px 4px 15px rgba(19, 19, 19, 0.33);
}
.container .content .content-box .box-estagio{
  width: 40%;
  height: 75%;

  cursor: pointer;
  
  background: #C20114;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.71);
  border-radius: 10px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  
  transition: 0.4s;
}

.container .content .content-box .box-estagio:hover, 
.container .content .content-box .box-projeto:hover{
  filter: brightness(80%);
  transform: scale(1.1);
}

.container .content .content-box .box-projeto{
  width: 40%;
  height: 75%;
  
  cursor: pointer;

  background: #C20114;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.71);
  border-radius: 10px;
  
  display: flex;
  align-items: center;
  flex-direction: column;

  transition: 0.4s;
} 

/* Menu */
.box-toggle{
  position: absolute;
  top:0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  background: rgba(0, 0, 0, 0.51);
  
  z-index: 4;
}

.box-toggle .toggle-content{
  display: flex;
  flex-direction: column;
  
  user-select: none;

  width: 25%;
  height: 100%;

  background: #5A141A;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  
  z-index: 3;
  
  animation: toggle 0.4s forwards;
}

.box-toggle .toggle-content #close{
  cursor: pointer;
}

.box-toggle .toggle-content .anchor{
  display: flex;
  align-items: center;
  
  text-align: center;
  
  width: 100%;
  height: 8%;
  
  margin-top: 5%;
  
  background: #5A141A;
  transition: 0.4s;
  
}

.box-toggle .toggle-content .anchor:last-child{
  /* background-color: #E4050E;
  justify-content: end; */
  margin-top: 70%;
}

.box-toggle .toggle-content .anchor:hover{
  filter: brightness(80%);
}

.box-toggle .toggle-content img{
  max-width: 100%;
  width: 10%;
  height: auto;
  
  padding-left: 5%;
}

.box-toggle .toggle-content .anchor a{
  font-style: normal;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-align: start;
  text-decoration: none;
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  padding-left: 20%;
  
  width: 100%;
  
  color: #C2C2C2;
}

.toggle-disable{
  display: none;
}

@keyframes toggle{
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translate(0%);
  }
}
