<!DOCTYPE html>
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"> -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar Senha</title>
    <!-- <link rel="stylesheet" th:href="@{/css/Codigo/style.css}"> -->
    <!-- <link rel="stylesheet" th:href="@{/css/global.css}"> -->
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./../global.css">
    <!-- <link rel="stylesheet" href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <div class="container">
        <div class="aviso">
            <h6>Um código foi enviado para o seu E-mail</h6>
        </div>
        <div class="content">
                <h2 class="titulo">DIGITE O CÓDIGO</h2>
                <h6 class="info">Um código foi enviado para o seu E-mail</h6>
                <div class="form">
                <form>
                    
                        <input type="text" placeholder="Ex.: 390190">
                    <a href="#" class="enviar">Enviar Novamente</a>
                </form>
            </div>    
            <button class="btn">RECUPERAR</button>
            <a href="#" class="voltar">⟵ VOLTAR</a>
            </div>
</body>
</html>